.main {
    padding: 2em 3em;   
}

.menu {
    display: flex;
    gap: 8px;
    padding: 4px;
    width: 350px;
    justify-content: space-between;
}

.menu-item {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    flex-grow: 1;
}

.ativo {
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.inativo {
    background-color: white;
    color: black;
    border: 1px solid blue;
}

.dados {
    padding: 8px 0;
}

.item {
    display: flex;
    gap: 8px;
    padding: 4px;
    width: 350px;
    justify-content: space-between;
}

.item-nome {
    flex-grow: 1;
}

.hr {
    border-top: 1px solid #00000090;
    width: 350px;
    margin: 4px;
}

.quantidade {
    display: flex;
    justify-content: end;
    font-weight: 600;
    width: 350px;
    padding: 4px;
}

@media (max-width: 450px) {
    .main {
        padding: 10px 15px;
    }
}